# Application
public/dist
public/hot

# PHP
composer.phar
vendor
composer.lock

# IDE
.fleet
.idea
.vscode

# Environments
.env
.env.*
!.env.*.example
!.env.example

# Node
node_modules
package-lock.json

# Data
*.log
*.composerLog
log
*.lock.*
*.pem
!docker/nginx/ssl/ssl.pem